.contact{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.about,.fake,.index,.sources,.spot{
    &-s4{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text-shadow;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .contact{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .index,.about,.fake,.sources,.spot{
        &-s1{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
}